# Incoming Calls
{% if items %}

| Caller | File | Line |
|-|-|-|
{% for item in items %}
| {{ item.name }} | {{ item.file }} | {{ item.line }} |
{% endfor %}
{% else %}
No incoming calls found.
{% endif %}
