# {{ dir_name }}/
{% if files %}

| File | Tokens | Description |
|-|-|-|
{% for file in files %}
| {{ file.name }} | {{ file.bytes|tokens }} | {{ file.description }} |
{% endfor %}
{% endif %}
{% if subdirs %}

| Directory |
|-|
{% for d in subdirs %}
| {{ d }}/ |
{% endfor %}
{% endif %}
