# {{ filename }}
{% if file_doc %}

{{ file_doc }}
{% endif %}

| Property | Value |
|-|-|
| **Language** | {{ language }} |
| **Lines** | {{ total_lines }} |
| **Tokens** | {{ total_bytes|tokens }} |

## Symbols

{% include "syntax/symbol_table" %}
